.ball-area {
  padding: 150px 30px 60px 30px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ball-area,
.ball-area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ball-area > div {
  color: #f54646;
  border: 1.5px solid #f54646;
  font-weight: 600;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.ball-area .blue {
  color: #39f;
  border: 1.5px solid #39f;
  margin-left: 10px;
}
#btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #f54646;
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  border: none;
  margin: 50px auto;
}
#btn,
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main {
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #6b6c6e;
}
.m-main {
  background: #f0f2f5;
  min-height: 100vh;
}
.m-main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}
.m-main header .logo {
  width: 30px;
  height: 30px;
}
.m-main header .logo img {
  width: 100%;
}
.m-main section {
  padding: 30px;
  padding-top: 100px;
}
.w960 {
  width: 960px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.w960,
.w960 .btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.w960 .btn-area {
  margin-top: 10px;
}
.btn {
  margin: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
}
.ant-layout-header {
  background: #001529;
  padding: 0 50px;
  height: 64px;
  line-height: 64px;
}
.table {
  width: 80%;
}
.cp {
  cursor: pointer;
}
.tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-top: 1px solid #ccc;
}
.tr:last-child {
  border-bottom: 1px solid #ccc;
}
.tr .td {
  border-left: 1px solid #ccc;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tr .td label {
  padding: 10px;
  display: block;
}
.tr .td:last-child {
  border-right: 1px solid #ccc;
}
.tr .td input {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
}
.tr .td input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 12px;
}
.tr .td input::-ms-input-placeholder {
  color: #ccc;
  font-size: 12px;
}
.tr .td input::placeholder {
  color: #ccc;
  font-size: 12px;
}
.del {
  color: #ff6baa;
}
